.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    height: 100px;
}

.div-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.div-name-input {
    width: 100%;
}