<md-card class="card-content">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Carrinho</span>
        </md-card-title-text>
    </md-card-title>
    <div class="div-name" ng-show="table_ready">
        <md-input-container class="div-name-input">
            <label>Nome</label>
            <input ng-model="user.name">
        </md-input-container>
    </div>
    <div class="flex-table-container" ng-show="table_ready">
        <div class="flex-table">
            <div class="flex-row flex-row-header">
                <div class="flex-column flex-column-20 flex-column-header">Produto</div>
                <div class="flex-column flex-column-40 flex-column-header">Descrição</div>
                <div class="flex-column flex-column-10 flex-column-header">Preço</div>
                <div class="flex-column flex-column-10 flex-column-header">Qtd.</div>
                <div class="flex-column flex-column-20 flex-column-header">Ações</div>
            </div>
            <div class="flex-row flex-row-striped" ng-repeat="product in paginator.filtered_items">
                <div class="flex-column flex-column-20">{{ product.name }}</div>
                <div class="flex-column flex-column-40">{{ product.description }}</div>
                <div class="flex-column flex-column-10">{{ product.price | currency:"R$ " }}</div>
                <div class="flex-column flex-column-10">
                    <md-input-container class="md-block">
                        <input required type="number" step="1" name="quantity" ng-model="products_in_cart[$index].quantity" min="1" aria-label="quantity" />
                    </md-input-container>
                </div>
                <div class="flex-column flex-column-20">
                    <md-button ng-click="removeFromCart(products_in_cart[$index], $index)" class="md-fab md-primary" aria-label="button-add">
                        <i class="fas fa-times"></i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="total" ng-show="table_ready">
        Total: {{ getTotal() | currency:"R$ " }}
        <md-button class="md-raised md-primary" aria-label="button-add" ng-click="finalizePurchase()">
            Finalizar Compra
        </md-button>
    </div>
    <div class="flex-row-paginator" ng-show="table_ready">
        <md-button class="md-icon-button md-primary" aria-label="paginator-previous" ng-click="paginator.previous()">
            <i class="fas fa-arrow-left"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="paginator-previous" ng-repeat="page in paginator.pages" ng-click="paginator.goToPage(page)"
            ng-class="{'md-primary': paginator.page === page, 'md-accent': paginator.page !== page}">
            {{ page }}
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="paginator-next" ng-click="paginator.next()">
            <i class="fas fa-arrow-right"></i>
        </md-button>
    </div>
    <div ng-show="!table_ready">
        <md-progress-linear md-mode="query" ng-disabled="table_ready"></md-progress-linear>
        <div class="loading-text">
            <span>Buscando informações do carrinho</span>
        </div>
    </div>
</md-card>
