<div ng-controller="headerCtrl" ng-cloak>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button button-toggle-sidenav" aria-label="Settings" ng-click="toogleSidenav()">
                    <i ng-if="!sidenavIsOpen()" class="fas fa-bars"></i>
                    <i ng-if="sidenavIsOpen()" class="fas fa-times"></i>
                </md-button>
                <h2 flex md-truncate>{{ title }}</h2>


                <md-menu>
                    <md-button aria-label="Open phone interactions menu" class="md-icon-button button-cart" ng-click="openMenu($mdMenu, $event)">
                        <i class="fas fa-cog"></i>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button href="#!/admin/orders">
                                Admin - Lista de compras
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button href="#!/admin/products">
                                Admin - Lista de produtos
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </md-content>
</div>