<md-card class="card-content">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Home</span>
            <div class="header-space"></div>
            <md-input-container>
                <label>Pesquisar</label>
                <input ng-model="paginator.search" ng-keyup="paginator.update()">
            </md-input-container>
        </md-card-title-text>
    </md-card-title>
    <div class="flex-table-container">
        <div class="flex-table">
            <div class="flex-row">
                <div class="flex-column flex-column-header">Produto</div>
                <div class="flex-column flex-column-header">Descrição</div>
                <div class="flex-column flex-column-header">Preço</div>
                <div class="flex-column flex-column-header">Qtd.</div>
                <div class="flex-column flex-column-header">Ações</div>
            </div>
            <div class="flex-row" ng-repeat="product in paginator.filtered_items">
                <div class="flex-column">{{ product.name }}</div>
                <div class="flex-column">{{ product.description }}</div>
                <div class="flex-column">{{ product.price }}</div>
                <div class="flex-column">
                    <md-input-container class="md-block">
                        <input required type="number" step="1" name="quantity" ng-model="products[$index].quantity" min="1" aria-label="quantity" />
                    </md-input-container>
                </div>
                <div class="flex-column">
                    <md-button ng-click="addToCart(products[$index])" class="md-fab md-primary" aria-label="button-add">
                        <i class="fas fa-cart-plus"></i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row-paginator">
        <md-button class="md-icon-button md-primary" aria-label="paginator-previous" ng-click="paginator.previous()">
            <i class="fas fa-arrow-left"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="paginator-previous" ng-repeat="page in paginator.pages" ng-click="paginator.goToPage(page)"
            ng-class="{'md-primary': paginator.page === page, 'md-accent': paginator.page !== page}">
            {{ page }}
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="paginator-next" ng-click="paginator.next()">
            <i class="fas fa-arrow-right"></i>
        </md-button>
    </div>
</md-card>
