<md-card class="card-content">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Admin > Compras</span>
            <div class="header-space"></div>
            <md-input-container ng-show="table_ready" class="div-search-input">
                <label>Pesquisar</label>
                <input ng-model="paginator.search" ng-keyup="paginator.update()">
            </md-input-container>
        </md-card-title-text>
    </md-card-title>
    <div class="flex-table-container" ng-show="table_ready">
        <div class="flex-table">
            <div class="flex-row flex-row-header">
                <div class="flex-column flex-column-40 flex-column-header">Nome</div>
                <div class="flex-column flex-column-30 flex-column-header">Qtd.</div>
                <div class="flex-column flex-column-30 flex-column-header">Total</div>
            </div>
            <div class="flex-row flex-row-striped" ng-repeat="product in paginator.filtered_items">
                <div class="flex-column flex-column-40">{{ product.name }}</div>
                <div class="flex-column flex-column-30">{{ product.total_quantity }}</div>
                <div class="flex-column flex-column-30">{{ product.total_price | currency:"R$ " }}</div>
            </div>
        </div>
    </div>
    <div class="flex-row-paginator" ng-show="table_ready">
        <md-button class="md-icon-button md-primary" aria-label="paginator-previous" ng-click="paginator.previous()">
            <i class="fas fa-arrow-left"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="paginator-previous" ng-repeat="page in paginator.pages" ng-click="paginator.goToPage(page)"
            ng-class="{'md-primary': paginator.page === page, 'md-accent': paginator.page !== page}">
            {{ page }}
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="paginator-next" ng-click="paginator.next()">
            <i class="fas fa-arrow-right"></i>
        </md-button>
    </div>
    <div ng-show="!table_ready">
        <md-progress-linear md-mode="query" ng-disabled="table_ready"></md-progress-linear>
        <div class="loading-text">
            <span>Buscando informações das compras</span>
        </div>
    </div>
</md-card>
